<div class="dashboard">

    <div class="container">
        <div class="row align-items-center justify-content-between">
          <!-- Frame13 on the left -->
          <div class="col-auto">
            <div class="Frame13 d-flex flex-column align-items-start gap-2" style="width: 700px;">
              <div class="Label text-center" style="color: #3D3D3D; font-size: 40px; font-family: Roboto; font-weight: 500;">
                Dashboard
              </div>
            </div>
          </div>
      
          <!-- Tools on the right -->
          <div class="col-auto">
            <div class="Tools d-flex gap-3">
              <div class="btn-toolbar mb-2 mb-md-0">
                <div class="btn-group me-2">
                  <button type="button" (click)="onMonthRangeTap(3)">3 Months</button>
                  <button type="button" (click)="onMonthRangeTap(6)">6 Months</button>
                  <button type="button" (click)="onMonthRangeTap(12)">1 Year</button>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>

    <div class="DiagramAndStatistics"
          style="height: 525px; flex-direction: column; justify-content: flex-start; align-items: center; gap: 16px; display: flex">

        @if(statusCounts$ | async) { 
          <app-active-issues [statusCounts]="statusCounts$ | async" class="Statistics"
          style="align-self: stretch; padding-left: 192px; padding-right: 192px; padding-top: 16px; padding-bottom: 16px; background: #FAFAFA; border-radius: 4px; justify-content: space-between; align-items: center; display: inline-flex"></app-active-issues>
        }

        <div class="Frame36"
              style="align-self: stretch; height: 405px; flex-direction: column; justify-content: flex-start; align-items: flex-end; gap: 8px; display: flex">
            <div class="Frame38"
                  style="align-self: stretch; justify-content: space-between; align-items: flex-start; display: inline-flex">
                <div class="Statistics"
                      style="width: 218px; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
                    <div class="Label" style="justify-content: center; align-items: flex-start; display: inline-flex">
                        <div class="BaseInputLabel"
                              style="justify-content: flex-start; align-items: center; gap: 6px; display: flex">
                            <div class="Label"
                                  style="color: #3D3D3D; font-size: 21px; font-family: Roboto; font-weight: 700; line-height: 27.93px; word-wrap: break-word">
                                All Issues
                            </div>
                        </div>
                    </div>
                    <div class="Label" style="justify-content: center; align-items: flex-start; display: inline-flex">
                        <div class="BaseInputLabel"
                              style="justify-content: flex-start; align-items: center; gap: 6px; display: flex">
                            <div class="Label"
                                  style="color: #3D3D3D; font-size: 16px; font-family: Roboto; font-weight: 400; line-height: 24px; word-wrap: break-word">
                                Active Issues
                            </div>
                        </div>
                    </div>
                </div>
                <div class="Statistics"
                      style="width: 218px; align-self: stretch; flex-direction: column; justify-content: space-between; align-items: flex-end; display: inline-flex">
                    <div class="Label" style="justify-content: center; align-items: flex-start; display: inline-flex">
                        <div class="BaseInputLabel"
                              style="justify-content: flex-start; align-items: center; gap: 6px; display: flex">
                            <div class="Label"
                                  style="color: #3D3D3D; font-size: 16px; font-family: Roboto; font-weight: 400; line-height: 24px; word-wrap: break-word">
                                Highest: 100% on Oct 11, 2018
                            </div>
                        </div>
                    </div>
                    <div class="Label" style="justify-content: center; align-items: flex-start; display: inline-flex">
                        <div class="BaseInputLabel"
                              style="justify-content: flex-start; align-items: center; gap: 6px; display: flex">
                            <div class="Label"
                                  style="color: #3D3D3D; font-size: 16px; font-family: Roboto; font-weight: 400; line-height: 24px; word-wrap: break-word">
                                Lowest: 20% on Oct 9, 2018
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="Frame36"
              style="display:block; width:100%;">
        
            <!--chart-->
        
        </div>

    </div>

</div>