<form>
    <div class="form-row align-items-center">

        <img [src]="currentUser?.avatar" class="mr-3 li-avatar rounded" />

        <div class="col-sm-6">
            <textarea [(ngModel)]="newCommentText" placeholder="Enter new comment..." class="form-control pt-text-comment-add"
                name="newComment"></textarea>
        </div>
        <button type="button" (click)="onAddTapped()" class="btn btn-primary" [disabled]="!newCommentText">Add</button>
    </div>
</form>
<hr />

<ul class="list-unstyled">
    <li class="media chitchat-item" *ngFor="let comment of comments$ | async">
        <img [src]="comment.user.avatar" class="mr-3 li-avatar rounded" />
        <div class="media-body">
            <h6 class="mt-0 mb-1"><span>{{ comment.user.fullName }}</span><span class="li-date">{{comment.dateCreated |
                    date}}</span></h6>

            <span type="text" class="chitchat-text ">{{ comment.title }}</span>
        </div>

    </li>
</ul>
