<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
    <h1 class="h2">Backlog</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
        <app-preset-filter></app-preset-filter>

        <div class="btn-group mr-2">
            <button type="button" (click)="onAddTap(content)" class="btn btn-sm btn-outline-secondary">Add</button>
        </div>

    </div>
</div>

<app-list [items]="items$ | async" (listItemSelected)="selectListItem($event)"></app-list>


<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Add New Item</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-10">
                    <input class="form-control" [(ngModel)]="newItem.title" name="title" />
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Description</label>
                <div class="col-sm-10">
                    <textarea class="form-control" [(ngModel)]="newItem.description" name="description"></textarea>
                </div>
            </div>

            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Item Type</label>
                <div class="col-sm-10">
                    <select class="form-control" [(ngModel)]="newItem.type" name="itemType">
                        <option *ngFor="let itemType of itemTypesProvider" [ngValue]="itemType">{{itemType}}</option>
                    </select>
                </div>
            </div>

        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" data-dismiss="modal" (click)="modal.dismiss('Cross click')">Close</button>
        <button type="button" class="btn btn-primary" [disabled]="!newItem.title" (click)="modal.close(newItem)">Save
            changes</button>
    </div>
</ng-template>
